/* Sticky footer styles
-------------------------------------------------- */

@media print {
   .hidden-on-print{
    display : none !important;
  }

  .show-on-print{
    display : block !important;
  }

  .on-print-no-margin-top  {
    margin-top: 0px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.show-on-print{
  display:none;
}

table{
  width:100%;
}

table td{
  border-top: 1px solid rgba(0,0,0,0.05);
  padding-right: 7px;
}
.uppercase
{
  text-transform: uppercase;
}
