#navbar #logo a{
  margin:0px !important;
  padding:0px 7px !important;
}

@media (min-width: 768px){
  .container > .navbar-header {
      display: none !important;
  }
}

/* Sticky footer styles
-------------------------------------------------- */

@media print {
   .hidden-on-print{
    display : none !important;
  }

  .show-on-print{
    display : block !important;
  }

  .on-print-no-margin-top  {
    margin-top: 0px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.show-on-print{
  display:none;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.input-group.date input[readonly] {
   background-color: #fff !important;
   cursor: default !important;
}

#inscriptions_box_wrapper .inscription_item{
	height: 68px;
	width: 167px;
	margin: 7px;
	padding: 7px;
	border: 3px solid #CCC;
	list-style: none;
	float:left;
	cursor:pointer;
	border-radius: 12px;
	text-align: center;
  background-color:#EAEAEA;
}

#inscriptions_box_wrapper .inscription_item:hover, #inscriptions_box_wrapper #new_box:hover{
  border-color: lightblue !important;
}

#inscriptions_box_wrapper .inscription_item .username {
  overflow: hidden;
  text-overflow:ellipsis;
  width:100%;
  height:20px;
  white-space: nowrap;
}

#inscriptions_box_wrapper .inscription_item.selected{
	border:3px solid blue;
	font-weight: bold;
	color: #FFF;
	background-color: #2672EC !important;
}

#inscriptions_box_wrapper .inscription_item .box_badge{
  width:20px;
  height:20px;
  float:left;
  margin-left:-18px;
  margin-top: -18px;
}

#inscriptions_box_wrapper #new_box {
  border: dashed 3px #CCC !important;
  background-color: #FCFBC6;
}

#inscription_form label.control-label
{
    font-weight: 600 !important;
    color : #999;
}
