<template>
    <div class="container">

        <!-- <div class="row">
            <div class="col-md-12">
                @include('partials/alerts')
            </div>
        </div> -->

        <div class="row" id="inscriptions">
        
            <div class="col-md-8">                        
                <div class="card">  
                    <div class="card-header">
                        <a :href="'/evento/'+event.id+'/informacion'">
                            <img :src="'/img/eventos/'+event.id+'/screen.jpg'" width="32" class="pull-left" style="margin-right:15px;"/>
                        </a>

                        Inscripción online <small class="text-muted">{{ event.name }}</small>
                    </div>
                    <div class="card-body">

                        <template v-if="cart.lines.length">
                            <hr/>

                            <div class="pad-btm form-inline">
                                <div class="row">
                                    <h3 style="display:inline; margin-left: 12px;">Inscritos <small>({{ cart.lines.length }})</small></h3>

                                    <div class="pull-right">
                                        <button class="btn btn-default" @click="_loadInscription" :disabled="!selected_line"><i class="fa fa-pencil-square-o"></i> Modificar</button>
                                        <button class="btn btn-default" @click="_deleteInscription" :disabled="!selected_line"><i class="fa fa-trash"></i> Borrar</button>
                                        <button class="btn btn-default" @click="load"><i class="fa fa-refresh"></i></button>
                                    </div>
                                </div>
                            </div>

                            <br/>
                        </template>
                        <template v-else>
                            <br/>
                        </template>

                        <div style="min-height: 212px;">

                            <template v-if="loading">
                                cargando...
                            </template>
                            <template v-else-if="cart.lines.length">
                                <div class="bootstrap-table">
                                    <div class="fixed-table-container" style="padding-bottom: 0px;">
                                        <div class="fixed-table-body">
                                            <table class="table table-hover" data-toggle="table" id="list_persons" style="font-size: 16px;">
                                                <thead>
                                                    <tr>
                                                        <th class="bs-checkbox" style="width: 36px;" data-field="state" tabindex="0"><div class="th-inner "></div><div class="fht-cell"></div></th>
                                                        <th>Nombre</th>
                                                        <th class="text-center">Edad</th>
                                                        <th class="text-center">Importe</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                            
                                                    <tr v-for="(insc, index) in cart.lines" :key="insc.line_id" @click="selected_line = insc.line_id" :class="{'selected' : selected_line == insc.line_id }">
                                                        <td class="bs-checkbox">
                                                            <input data-index="0" name="cart_line" type="radio" v-model="selected_line" :value="insc.line_id">
                                                        </td>
                                                        <td>{{ insc.name }} {{ insc.surname }}</td>
                                                        <td class="text-center">
                                                            {{ insc._age }}
                                                            <template v-if="insc._age != insc._age_at_event">
                                                            <small class="text-muted">(tendrá {{ insc._age_at_event }} en el evento)</small>
                                                            </template>
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="#" @click.stop="()=>{selected_line = insc.line_id; modal_charges = true}" alt="haz click para ver los cargos desglosados" title="haz click para ver los cargos desglosados">
                                                                {{ insc.payment_amount }}&euro;
                                                            </a>
                                                        </td>
                                                    </tr>
                                                        <tr>
                                                        <td colspan="4">
                                                            <button class="btn btn-purple btn-block" @click="_onAddNewPersonClick">
                                                                <i class="fa fa-user-plus"></i> AÑADIR MÁS PERSONAS A LA INSCRIPCIÓN
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <div v-else style="text-align:center; background-color: rgb(255, 254, 229); border: 4px dashed #CCC; margin-top: 7px;">
                                <br/>
                                <br/>
                                <h3 class="text-info">Todavía no has añadido ninguna persona a la inscripción</h3>
                                <br/>

                                <button type="button" class="btn btn-info btn-lg" @click="_loadInscription"><i class="fa fa-user-plus"></i> Añadir</button>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-4" v-if="!isEmpty(event.reduced_cost_event_id)">                        
                <div class="panel">        
                    <div class="panel-body">
                        <h4>Descuento de inscripción</h4>
                        Si vas a ir al campamento tambi&eacute;n, porfavor, introduce el <span data-toggle="tooltip" data-placement="bottom" title="es un código de 5 caracteres que te será dado al final de la inscripción" style="text-decoration:underline;">código de inscripción</span> del campamento, para tener una reducción en esta inscripción.
                        <br/>
                        <br/>
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail2" size="27">
                            </div>
                            <button type="submit" class="btn btn-default">enviar</button>
                        </form>
                    </div>
                </div>
            </div> -->

            <div class="col-md-4">                        
            <div class="card">  
                    <div class="card-header">Resumen</div>
                    <div class="card-body" >
                            <hr class="hr"/>

                            Total personas inscritas:

                                {{ cart.lines.length }}
                            <br/>

                            Importe total: {{ totalAmount }}&euro;

                            <br/>
                            <br/>

                        <div class="row">
                        
                            <div class="col-sm-12">
                            <h4>Datos de contacto</h4>
                            <hr class="hr"/>

                                <div class="form-group">

                                    <template v-if="onlyAdults.length || event.type == 'CAMPAMENTO'">

                                        <template v-if="onlyAdults.length > 1">
                                            <label>Responsable de grupo</label>

                                            <select class="form form-control" v-model="contact_name" :disabled="submitting">
                                                <option v-for="insc in onlyAdults" :value="insc.name + ' ' + insc.surname">
                                                    {{ insc.name }} {{ insc.surname }}
                                                </option>
                                            </select>
                                        </template>
                                        <span v-else>
                                            <input type="text" class="form form-control" v-model="contact_name" :readonly="event.type!='CAMPAMENTO'" placeholder="nombre y apellidos">
                                        </span>

                                        <input type="text" class="form form-control" placeholder="Teléfono" v-model="contact_phone" :disabled="submitting">    
                                        <input type="text" class="form form-control" placeholder="Email" v-model="contact_email" :disabled="submitting">  
                                    </template>
                                    <template v-else-if="event.type != 'CAMPAMENTO'">
                                        <p class="text-danger">Para finalizar la inscripción es necesario añadir una persona mayor de edad</p>
                                    </template>  
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="payment_type" value="CHURCH" v-model="payment_method">
                        <!-- <div class="row" v-show="totalAmount > 0">
                            <div class="col-md-12">
                                <h4>Forma de pago</h4>
                                <hr class="hr"/>
                                <div class="form-group" style="font-size: 14px;">
                                    <input type="radio" name="payment_type" value="CHURCH" v-model="payment_method"> Pago en mi iglesia <br/>
                                    <small class="text-muted">
                                        La aportación se realizará en efectivo en su ser en efectivo dado al responsable de cada iglesia.
                                        <b>Por favor, que ninguno deje de apuntarse por dificultades económicas, en ese caso contactar con el responsable de cada iglesia.</b>
                                        La aportación será en efectivo en su iglesia, depositando un sobre cerrado en la ofrenda, indicando:
			ENCUENTRO + NOMBRE Y APELLIDOS del participante.
                                    </small>
                                    <input type="radio" name="payment_type" value="CARD" v-model="payment_method"> &nbsp;Tarjeta  <i class="fa fa-credit-card"></i><br/>
                                    <input type="radio" name="payment_type" value="BANK" v-model="payment_method" :disabled="submitting"> 
                                    &nbsp;Transferencia Bancaria

                                </div>
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="col-md-12">
                                <input type="checkbox" value="true" v-model="accept_conditions"><small> Acepto las condiciones de <a href="#" @click="modal_conditions=true"><u>tratamiento de datos</u></a></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="checkbox" value="true" v-model="accept_authorize"><small> Tengo autorización de las personas inscritas para facilitar sus datos o soy su padre/tutor/responsable legal.</small>
                            </div>
                        </div>

                        <br/>

                        <button type="button" class="btn btn-lg pull-right btn-primary" id="btn_submit_group" :disabled="(!onlyAdults.length && event.type != 'CAMPAMENTO') || submitting || !cart.lines.length" style="width:100%" @click="_registerInscription">
                            <template v-if="!submitting"> 
                                <i class="fa fa-check fa-lg"></i> Finalizar inscripci&oacute;n
                            </template>
                            <template v-else>
                                enviado datos...
                            </template>
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <b-modal v-model="modal_conditions" title="Aviso legal"> 
            <div class="row">
                <div class="col-12">
                    <p>De conformidad con lo dispuesto en la Ley Orgánica 15/1999, de Protección de Datos, 
                    LA ASOCIACIÓN JÓVENES PARA CRISTO DE PAMPLONA informa que los datos personales facilitados 
                    en el presente formulario serán incorporados en un fichero de socios y serán tratados de manera automatizada.
                    <br>
                    El solicitante da su consentimiento para ser incluido en el mencionado fichero y para que se informe de dichos datos a las 
                    autoridades públicas previo requerimiento de las mismas.
                    <br/>
                    También, da consentimiento de recibir comunicaciones electrónicas de la plataforma y/o por gestores del evento.
                    Todas las notificaciones estarán relacionadas con el evento o su inscripción en el mismo.
                    </p>
                </div>
            </div>
            <div slot="modal-footer">
                <!-- <button type="button" class="btn btn-default" @click="modal_conditions=false">Cerrar</button> -->
                <b-btn size="sm" class="float-right" variant="primary" @click="modal_conditions=false">
                    cerrar
                </b-btn>            
            </div>
        </b-modal>

         <b-modal v-model="modal_charges" centered>     
            <div class="bootstrap-table">
                <div class="fixed-table-container" style="padding-bottom: 0px;">
                    <div class="fixed-table-body">
                        <table class="table table-hover" data-toggle="table" id="list_persons" style="font-size: 16px;">
                            <thead style="font-weight: bold;">
                                <tr>    
                                    <td>Descripción</td>
                                    <td>Importe</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="charge in charges">
                                    <td>{{ charge.description }}</td>
                                    <td class="text-center">{{ charge.price * charge.quantity}}&euro;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-default" @click="modal_charges=false">Cerrar</button>
            </div>                            
        </b-modal>
        
        <b-modal v-model="modal_inscription" centered scrollable id="modal_steps">
            <div slot="modal-header" style="display:none;"></div>   
                <!-- <step-app></step-app> -->
                <inscription-steps v-if="event && churchs" ref="inscriptionForm"
                    :churchs="churchs" 
                    :event="event"
                    :line_id="selected_line" 
                    :url_cart_line="url_cart_line"
                    :url_inscription_line="url_inscription_line"
                    :logged_user="logged_user"
                ></inscription-steps>
            <div slot="modal-footer">
                <button type="button" class="btn btn-default" @click="modal_inscription=false">Cerrar</button>
                <button type="button" class="btn btn-primary" @click="_onSaveClick">Guardar</button>
            </div>
        </b-modal>
    </div>
</template>

<script>

import Utils from './Utils';

const inscription_group = {
    
    name  : 'inscription-group',

    props : ['session', 'event_id','url_cart_line','url_inscription_line','logged_user'],

    data : function(){

        return {
            error                : false,
            loading              : true,
            submitting           : false,
            
            url_cart             : '',
            url_inscription_save : '',

            modal_charges        : false,
            modal_conditions     : false,
            modal_inscription    : false,

            event                : {},
            churchs              : [],
            cart                 : {
                lines : []
            },
            charges              : [],
            selected_line        : null,

            contact_name         : null,
            contact_phone        : null,
            contact_email        : null,
            payment_method       : 'CHURCH',
            accept_conditions    : null,
            accept_authorize    : null,            
        }
    },

    computed : {
        
        onlyAdults: function () {

            if (this.cart && this.cart.lines)
            {
                return this.cart.lines.filter(function (insc){
                    return insc._age_at_event >= 18
                });
            }
            else
                return [];
        },

        totalAmount: function () 
        {
            var total = 0;

            if (this.cart && this.cart.lines)
            {
                $.each(this.cart.lines, function (index, insc) {
                    total += insc.payment_amount;
                });
            }

            return total;
        }
    },

    watch : {

        modal_charges(newval,oldval)
        {            
            if (newval)
            {

                axios.get('/api/eventcart/me/line/'+this.selected_line)
                    .then(result=>{
                        this.charges = result.data.payment_charges;
                    })
            }
        }
    },

    created(){
       
        axios.all([
            axios.get('/api/event/'+this.event_id), 
            this.load(),
            axios.get('/api/church')
            ])
            .then(axios.spread((event, cart, church)=>{
                this.event =  event.data.data;
                this.churchs = church.data.data;
                this.loading = false;

                /* if (this.event.reduced_cost_event_id) {
                    alert('¡Atención! Si vas a ir al campamento también, inscríbete primero en el campamento para beneficiarte del descuento en el precio de inscripción de este evento')
                } */
            }))
            .catch((error)=>{
                alert('ha ocurrido un error al cargar los datos');
                this.loading = false;
            });
    },

    methods : {

        load : function () 
        {
            this.loading = true;

            return new Promise(function(resolve, reject)
            {
                axios.get('/api/eventcart/me', {
                    params : {
                        event_id : this.event_id
                    }
                })
                .then(function(result){
                    this.error = false;
                    $.each(result.data.data.lines, function (index, insc) {
                        insc._age = Utils.getAge(insc.birthday);
                        insc._age_at_event = Utils.getAge(insc.birthday, this.event.date_from);
                    }.bind(this));

                    this.cart = result.data.data;

                    if (Utils.isEmpty(this.contact_name))
                        this.contact_name = result.data.data.contact_name;

                    if (Utils.isEmpty(this.contact_email))
                        this.contact_phone = result.data.data.contact_phone;

                    if (Utils.isEmpty(this.contact_email))
                        this.contact_email = result.data.data.contact_email;

                    var only_adults = this.onlyAdults;

                    if (only_adults.length == 1)
                        this.contact_name = only_adults[0].name + ' ' + only_adults[0].surname;
                    resolve();
                }.bind(this))
                .catch(function(){
                    this.error = true;
                    reject();
                }.bind(this))
                .then(function(){
                    this.loading = false;
                }.bind(this));    
            }.bind(this));
        },

        _loadInscription: function ()
        {
            this.modal_inscription = true;
            
            /* if (this.selected_line)
            {
                this.modal_inscription = true;
                this.show_inscription = true;
                /*
                this.url_cart_line = this.selected_line;
                */
                //this.$refs.inscriptionForm.load(this.selected_line);
            /*}
            else
            {      
                this.show_inscription = true;          
                /* this.$refs.inscriptionForm.$data.line_id = null;
                this.$refs.inscriptionForm._reset(); */
                //this.$refs.inscriptionForm.testFillChild();
            //} */
        },

        _deleteInscription: function () {
            var person = null;

            $.each(this.cart.lines, function (index, insc) {
                if (insc.line_id == this.selected_line) {
                    person = insc;
                    return false;
                }
            }.bind(this));

            if (confirm('¿Seguro que deseas borrar a ' + person.name + ' ' + person.surname + ' de la lista de inscritos?')) {

                this.loading = true;

                axios.delete(this.url_cart_line+'/'+this.selected_line)
                    .then(function(result){
                        // V_Alerts.add('success', 'Se ha borrado el usuario de la inscripción correctamente', {}, 3000);
                        this.load();
                        this.selected_line = null;
                    }.bind(this))
                    .catch(function(error){
                        alert('Ha ocurrido un error al intentar borrar');
                        console.warn(error);
                    }.bind(this))
                    .then(function(){
                        this.loading = false;
                    }.bind(this));
            }
        },

        _registerInscription: function ()
        {
            var errors = [];

            // TODO: comprobar campos de contacto, etc
            if (Utils.isEmpty(this.contact_name)) {
                if (this.onlyAdults.length > 1)
                    errors.push('Persona responsable del grupo');
                else if (this.event.type != 'CAMPAMENTO') {
                    var only_one_adult = this.onlyAdults[0];
                    this.contact_name = only_one_adult.name + ' ' + only_one_adult.surname;
                }
                else
                    errors.push('Nombre de la persona de contacto');
            }

            if (Utils.isEmpty(this.contact_phone))
                errors.push('Teléfono de contacto');

            if (Utils.isEmpty(this.contact_email) || !Utils.isEmail(this.contact_email))
                errors.push('Email de contacto');

            if (Utils.isEmpty(this.payment_method)) {
                if (this.totalAmount > 0)
                    errors.push('Método de pago');
                else
                    this.payment_method = 'BANK';
            }

            if (Utils.isEmpty(this.accept_conditions))
                errors.push('Aceptar las condiciones de tratamiento de datos');

            if (Utils.isEmpty(this.accept_authorize))
                errors.push('Confirmar que tienes autorización de las personas inscritas');

            if (errors.length) {
                alert('Los siguientes datos no son válidos o están incompletos: \n\n -' + errors.join('\n- '))
                return;
            }

            var params = {
                payment_method: this.payment_method,
                contact_name: this.contact_name,
                contact_phone: this.contact_phone,
                contact_email: this.contact_email
            }

            this.submitting = true;
    
            axios.post('/api/eventcart/me', params)
                 .then(function(result) {
                     console.log(result.data)
                    window.location.href = result.data.redirect;
                 }.bind(this))
                 .catch(function(error){
                     console.warn(error);
                    alert('No se ha podido completar la inscripción: ' + error);
                 }.bind(this))
                .then(function(){
                    this.submitting = false
                }.bind(this));
        },

        _onSaveClick : function(){
            this.$refs.inscriptionForm.saveInscription(function(error, result){

                if (error)
                {
                    if (error.description)
                        alert(error.description);
                }
                else
                {
                    this.load();
                    this.modal_inscription = false;
                }
            }.bind(this));
        },

        _onAddNewPersonClick : function(){
            this.selected_line = null;
            this._loadInscription();
        }
    }
}

export default inscription_group;

</script>

<style>
.badge{
    color:white;
}

span.h3 i, h3 i{
    margin: 0 12px;
}

h1
{
   margin-top:0px !important;
}

tr.selected {
     background-color: rgba(253, 255, 111, 0.45);
}
tbody tr{
    cursor: pointer;
}
#v-alerts {
    position: absolute;
    top: 20px;
    margin-left: auto;/*20px;*/
    margin-right: auto;/*20px;*/
    z-index: 5000; 
    text-align: center;
}
.hr{
    margin:3px 0px 7px 0px;
}

#modal_steps .modal-header
{
    padding:0px !important;
}

/* #modal_steps .modal-body{
    padding:0px !important;
    margin:0px
}

#modal_steps .modal-header{
    height:1px;
    padding:0px !important;
}

#modal_steps .modal-footer{
    height: 1px;
    padding: 0px;
    overflow: hidden;
}
#modal_steps___BV_modal_backdrop_{
    display: none;
} */
</style>

