<template>
<form class="form-horizontal" id="inscription_form" autocomplete="off" v-if="event">

   <h3 class="page-header" style="margin-top:0px !important;"><i class="fa fa-user-tag"></i> Datos personales</h3>

    <!-- Nombre -->
    <div class="form-group mt-3">
        <label for="input_nombre" class="col-sm-12 control-label">
            Nombre y Apellidos
            <small class="text-muted" v-if="event.type == 'CAMPAMENTO'">(poner sólo el nombre de uso común, evitar compuestos)</small>
        </label>
        <div class="col-sm-12">
            <div class="form-inline" id="div_DNI">
                <input type="text" class="form-control col-6" id="input_nombre" :placeholder="event.type !== 'CAMPAMENTO' ? 'Nombre' : 'Nombre de uso'" name="nombre" data-required-fieldname="Nombre" v-model="name">
                <input type="text" class="form-control col-6" id="input_apellidos" placeholder="Apellidos" name="apellidos" data-required-fieldname="Apellidos" v-model="surname">
            </div>
        </div>
    </div>

    <!-- Fotografía -->
    <div class="form-group mb-0" v-if="event.require_photo">
        
        <label class="col-sm-12 control-label">Fotografía <small class="text-muted">(no es obligatoria pero ayuda mucho al equipo de organización)</small></label><br/>

        <div class="col-sm-12">
            <div class="row">
                <input type="file" id="user_photo" class="btn btn-default" style="display:none;" accept="image/*" @change="readCropFile"/>

                <div v-show="!user_photo" style="position: absolute; text-align: center; overflow:hidden; z-index: 2; background-color: #EEE; height: 150px; width: 100%; cursor:pointer;" onclick="$('#user_photo').click();" id="drag_photo_area" onMouseOver="this.style.color='#00F'"
   onMouseOut="this.style.color='#000'">
                    <span>
                        <br/>
                        Todavía no has subido ningúna imagen.
                        <br/>
                        <br/>
                        Haz click aquí para elegir una imagen <br/>
                        o arrastra hasta aquí una imagen
                        <br/>
                    </span>
                </div>

                    <div class="col-sm-6"  :style="'height:' + (user_photo ? 'auto' : '150px') + ' !important; overflow:hidden;'" :class="{'mb-3' : !user_photo}">
                        <vue-croppie
                            ref="croppieRef" 
                            :enableOrientation="true"
                            :viewport="{ width : 175, height : 175 }" 
                            :boundary="{ width : 200, height : 200 }"
                            :enableResize="false"
                            @result="_onCroppieResult"
                            @update="_onCroppieUpdate"
                            >
                        </vue-croppie>
                        <!-- <span v-else>
                            <img :src="'uploads/users_photos'+public_id+'.jpeg?'+Math.random()"/>
                        </span> -->
                    </div>
                    <div class="col-sm-6 p-0" :style="'height:' + (user_photo ? 'auto' : '150px') + ' !important; overflow:hidden;'" :class="{'mb-3' : !user_photo}">
                        <small class="text-muted">Encuadra correctamente la cabeza para que quede en primer plano, tipo foto de DNI (puedes arrastrarla, hacer zoom, etc).</small>
                        <br/>
                        <br/>
                        <div class="text-center">
                        <img src="/img/crop_ok.png" style="height: 58px; border:1px solid #CCC;" /> &nbsp;
                        <img src="/img/crop_ko.png" style="height: 58px; border:1px solid #CCC;" />
                        </div>
                        <br/>
                        <div v-if="user_photo || line_id" class="text-center">
                            <button type="button" class="btn btn-secondary btn-sm" @click="_rotatePhotoLeft()"><i class="fa fa-undo"></i> Girar</button>
                            <button type="button" class="btn btn-secondary btn-sm" @click="_changePhoto()"><i class="fas fa-paperclip"></i> Cambiar</button>
                            <button type="button" class="btn btn-secondary btn-sm" @click="_quitPhoto()"><i class="fas fa-times"></i> Quitar</button>
                        </div>
                    </div>
            </div>
        </div>

    </div>


    <!-- Género -->
    <div class="form-group">
        <label for="input_genero" class="col-sm-12 control-label">Género</label>
        <div class="col-sm-9">
            <label class="radio-inline">
                <input type="radio" id="input_genero" name="genero" value="M" v-model="genre"> Masculino &nbsp;&nbsp;
            </label>
            <label class="radio-inline">
                <input type="radio" id="input_genero" name="genero" value="F" v-model="genre"> Femenino
            </label>
        </div>
    </div>

  <!-- fecha de nacimiento -->
    <div class="form-group">
        <label for="input_fecha_nac" class="col-sm-12 control-label">Fecha de nacimiento</label>
        <div class="col-sm-12 form-inline">
            <!-- <datepicker placeholder="Elige la fecha" class="form-control" :language="datepicker_es" v-model="birthday"></datepicker> -->
            <select v-model="birthday_day" class="form-control text-center">
                <option :value="null">-dia-</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            &nbsp;
            <select v-model="birthday_month" class="form-control text-center">
                <option :value="null">-mes-</option>
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
            &nbsp;
            <select v-model="birthday_year" class="form-control text-center">
                <option :value="null">-año-</option>
                <option v-for="n in _getRange(1920, parseInt(new Date().getFullYear()))" :key="n">{{ n }}</option>
            </select>
        </div>
    </div>
  
    <div class="form-group">
            <label for="input_DNI" class="col-sm-12 control-label">NIF/NIE</label>
            <div class="col-sm-12">
                <div class="form-inline" id="div_DNI">
                    <input type="text" class="form-control text-uppercase col-6" id="input_DNI" name="DNI" placeholder="aqui tu NIF/NIE" data-placeholder="aqui tu NIF/NIE" v-model="nif" data-disable-copypaste :disabled="nif_no == true" @keydown="_preventNonAlphaNumeric" @blur="_removeNonAlphaNumeric(this)">
                    <input type="text" class="form-control text-uppercase col-6" placeholder="repite aquí tu NIF/NIE" name="DNI_rep" data-placeholder="repite aqui tu NIF/NIE" v-model="nif_rep" data-disable-copypaste :disabled="nif_no == true" @keydown="_preventNonAlphaNumeric" @blur="_removeNonAlphaNumeric(this)">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <label class="checkbox-inline">
                <input type="checkbox" name="no_dni" id="input_no_dni" v-model="nif_no" > Si no tienes NIF/NIE, marca esta casilla <small class="text-muted">(menores, extranjeros, etc)</small>
            </label>
        </div>
    </div>

    <!-- IGLESIA -->
    <div class="form-group">
        <label for="input_fecha_nac" class="col-sm-12 control-label">Iglesia</label>
        <div class="col-sm-12">
            <select name="church" class="form-control" data-required data-required-fieldname="Iglesia" v-model="church_id">
                <option value=""> ---- Elige tu iglesia ---- </option>
                <option v-for="church in churchs" :value="church.id">{{ church.city }}</option>
            </select>
        </div>
    </div>

    <!-- ROL EVENTO -->

    <div class="form-group" id="row_event_role" v-if="isAdult">

        <label for="input_event_role" class="col-sm-12 control-label">Pastor/Pastora</label>
        <div class="col-sm-12">
            <div class="form-inline">
                <label class="checkbox-inline">
                    <input type="checkbox" id="input_event_role" v-model="is_pastor"> &nbsp;
                Marca esta casilla si esta persona es Pastor o Pastora
                </label>
            </div>
        </div>

    </div>

  <!-- PARENTESCO CON EL RESPONSABLE DE GRUPO -->
    <div class="form-group" id="div_relation" style="display:'block';">
        <label for="select_relation" class="col-sm-12 control-label">Relación 
            <span v-if="event.type == 'CAMPAMENTO'">
                respecto a la persona de contacto
            </span>
            <span v-else>
            con el responsable del grupo
            </span>
        </label>
        <div class="col-sm-12">
            <select class="form-control" name="relation" id="select_relation" data-required-fieldname="Relación con el responsable del grupo" v-model="lider_relationship_type">
                <option value=""> ---- Elige uno ----</option>
                <option  v-for="rel in relations" :value="rel">Es {{ rel }} del responsable de grupo</option>
            </select>
            <small class="text-muted">
                Elige qué relación tiene respecto 
                <span v-if="event.type !== 'CAMPAMENTO'">
                al responsable del grupo <!-- (hijo del responsable, padre del responsable, etc) -->. Si esta persona es el responsable déjalo en blanco
                </span>
                <span v-else>
                    al tutor o persona de contacto.
                </span>
            </small>
        </div>
    </div>

    <div class="form-group" style="display:'block';" v-if="event.lodgement_main && event.external_lodgements">
        <label for="select_complete_event" class="col-sm-12 control-label"></label>
        <div class="col-sm-12">
            <button type="button" @click="completeEvent"> Marcar evento completo <span class="badge bg-secondary internal_lodgement_price">72&euro;</span></button> <small id="msg_event_complete" class="text-success text-bold" style="display: none;">Se han marcado todas las opciones</small> 
            <br/>            
            <small class="text-muted">El importe es la suma de todos los servicios abajo marcados</small>
        </div>
    </div>

    <hr/>
    <template v-if="event.external_lodgements || ['CAMPAMENTO','PRECAMPAMENTO'].includes(event.type)">

    <div class="form-group">
        <span class="h3 page-header">
            <i class="far fa-bed"></i>
            Alojamiento 
        </span>
    </div>

    <!-- ALOJAMIENTO -->
    <div class="form-group" v-if="event.external_lodgements">
        <!-- <div class="alert alert-warning">
            <i class="fa fa-warning"></i> La opción de alojamiento en Pirámide ya no está disponible, plazas llenas
        </div> -->
        <!-- <div class="alert alert-success">
            <i class="fa fa-warning"></i> <b>Actualización:</b> Se ha reabierto temporalmente la opción de alojamiento en Pirámide hasta agotar plazas.
        </div> -->
        <div class="col-sm-12">
            <select class="form-control" v-model="lodgement_id">
                <option value="">Sin alojamiento / otros</option>
                <!-- <option :value="l.id" v-if="event.lodgement_main && (logged_user || (!logged_user && l.id != event.lodgement_main.id))" v-for="l in event.lodgements" :selected="l.id ==lodgement_id">{{ l.name }}</option> -->
                <option :value="l.id" v-for="l in event.lodgements" :selected="l.id ==lodgement_id">{{ l.name }}</option>
            </select>
        </div>
        <!-- <p class="small text-muted">Elige la primera opción si se aloja en otro lugar</p> -->
       <div class="col-sm-12 alert alert-warning small mt-1" id="external_lodgement_info" role="alert">
            <span class="fa fa-warning" aria-hidden="true"></span>
            Tanto la reserva como el pago del alojamiento debe ser gestionado por el propio usuario, la organización del evento no gestiona ningún tipo de reserva ni pagos. La información se guarda exclusivamente para datos estadísticos, no tiene ningún tipo de vinculación.
        </div>
    </div>

    <template v-if="event.external_lodgements && event.lodgement_main && lodgement_id != event.lodgement_main.id">
        <div class="col-sm-12 alert alert-warning small" id="external_lodgement_info" role="alert" v-if="lodgement_id != ''">
            <span class="fa fa-warning" aria-hidden="true"></span>
            Estos alojamientos son externos y tanto la reserva como el pago del alojamiento debe ser gestionado por el propio usuario, la organización del evento no gestiona ningún tipo de reserva ni pagos de alojamientos externos al evento. La información se guarda exclusivamente para datos estadísticos, no tiene ningún tipo de vinculación de reserva ni nada parecido.
        </div>
    </template>
    <template v-else-if="event.type.includes(['CAMPAMENTO','PRECAMPAMENTO']) && event.lodgement_main">
        <div class="col-sm-12">
            <div class="form-inline">
                <input type="hidden" :value="event.lodgement_main.id"/>
                Noches que dormirá esta persona en {{ event.lodgement_main.name }}
            </div>
        </div>
        <div class="form-group">        
            <div class="col-sm-12">
                <div class="col-sm-12 alert alert-info small" role="alert">
                    Por favor, aunque sea un bebé o niño pequeño que no ocupe plaza de cama, elige igualmente las noches que dormirá
                </div>
                <div class="form-inline" id="div_lodgement_dates">
                    <label v-for="lday in event.lodgement_dates" class="checkbox-inline pr-3">
                        <input type="checkbox" id="inlineCheckbox3" v-model="lodgement_dates" :value="lday">
                        &nbsp; {{ Utils.getDateSimple(lday) }}&nbsp;
                        <span class="badge internal_lodgement_price" :class="[!lodgement_without_room?'bg-secondary':'badge-success']">
                            <template v-if="!lodgement_without_room">{{ event.lodgement_cost }}</template>
                            <template v-else>0</template>
                            &euro;
                        </span>
                    </label>
                </div>

            </div>
        </div>
    </template>

    <!-- <template v-if="lodgement_dates.length || ['CAMPAMENTO','PRECAMPAMENTO'].includes(event.type) && lodgement_id == event.lodgement_main.id">
        <div class="form-group">
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" v-model="lodgement_without_room"/> 
                     Marca si no ocupa plaza de cama 
                    <span v-if="['CAMPAMENTO'].includes(event.type)"> ni comidas</span>
                    <span v-if="!['CAMPAMENTO'].includes(event.type)"> (bebés y niños compañantes)</span>
                    <span v-else> (bebés y niños compañantes no campistas)</span>
                    <br/>
                    <small class="text-muted">
                        Si eliges esta opción, recuerda que no se podrá hacer uso de los colchones de las habitaciones, por lo que tendrán que compartir cama o llevar su cuna de viaje 
                    </small>
                </label>
            </div>
        </div>
    </template> -->

    <!-- <div v-if="event.lodgement_main" v-show="lodgement_id && lodgement_id == event.lodgement_main.id">
        <div class="col-sm-12 alert alert-warning small" id="internal_lodgement_info" role="alert">
                <span class="fa fa-warning" aria-hidden="true"></span>
                <span class="sr-only">Atención:</span>
    Debido a la alta demanda de plazas, a partir del día 12 de marzo (inclusive) las inscripciones que elijan alojamiento en la Pirámide, no se les podrá garantizar la plaza. Se les pondrá en una cola de plazas, y se les irá asignando según orden de inscripción. En el caso de que finalmente no se les pudiera asignar la plaza, se le comunicaría con la suficiente antelación.
        </div> 
    </div>-->

    <hr/>

    </template>

    <div v-if="event.lodgement_type=='FULL'" class="form-group">
        <label for="input_comidas" class="col-sm-12 control-label">Comida y cama</label>
        <div class="col-sm-12">
            <p>¿Esta persona usará plaza de cama y/o menú? 
                <!-- <small class="text-muted">La opción &quot;NO&quot; es sólo válida para bebés, niños pequeños acompañantes (no campistas) que no ocupan cama, o personas que viven en el mismo lugar del evento, en cuyo caso los gastos de piscina deberán ser abonados aparte.</small> -->
                <small class="text-muted">La opción &quot;NO&quot; es sólo válida para bebés que deben llevar su propia cuna de viaje</small>
            </p>
            <label class="radio-inline">
                <input type="radio" v-model="lodgement_id" :value="event.lodgement_main.id"/>&nbsp;Si                
                    <span class="badge bg-secondary">
                        <template v-if="!isChild || !event.cost_inscription_childs">
                            {{ event.lodgement_cost }}
                        </template>
                        <template v-else>
                            {{ event.cost_inscription_childs }}
                        </template>
                        &euro;
                    </span>                
            </label>
            &nbsp;&nbsp;
            <label class="radio-inline">
                <input type="radio" v-model="lodgement_id" value=""/>
            &nbsp;No
            </label>
        </div>
    </div>

    <!-- COMIDAS -->
    <template v-if="event.meals && event.meals.length || event.lodgement_type == 'FULL'">

        <div class="form-group" v-if="event.meals && event.meals.length">
            <span class="h3"><i class="fa fa-utensils"></i> Comidas</span>

            <!-- <label class="radio-inline pl-4">
                <input type="radio" v-model="meals" name="meals_enabled" :value="true"> Si 
            </label>
            &nbsp; <label class="radio-inline">
                <input type="radio" v-model="meals" name="meals_enabled" :value="false"> No
            </label> -->
        </div>

        <template v-if="meals === true && event.meals && event.meals.length">
            <div class="form-group" v-for="(daymeals, day) in event.meals_by_day">
                <div class="row" style="border-bottom:1px dashed  #CCC;">
                    <label for="input_comidas" class="col-sm-3 control-label text-center pr-0">
                        <b>{{ Utils.getDateSimple(day) }}</b>
                    </label>
                    <div class="col-sm-9 px-0" id="div_meals_dates">
                        <label v-for="meal in daymeals" class="checkbox-inline pr-3" :for="'meal'+meal.id">
                            <input type="checkbox" name="meals_list" :id="'meal'+ meal.id" v-model="meals_list" :value="meal.id"> 
                            <!-- <span>{{ meal.type.substr(2) }}</span> -->
                            <span>PICNIC</span>
                            <span class="badge bg-secondary">{{ meal.price }}&euro;</span>
                            <small v-if="meal.meal_obs" class="text-muted">({{ meal.meal_obs }})</small>
                        </label>
                    </div>
                </div>
            </div>

            <!-- <div class="form-group" v-show="showPicnic">
                <div class="row">
                    <label for="input_comidas" class="col-sm-3 text-center pr-0 control-label">Picnic</label>
                    <div class="col-sm-9 pl-0">
                        <label class="checkbox-inline" v-if="showPicnic">
                            <input type="checkbox" v-model="meals_picnic" style="display: inline"/>
                            <span class="text-muted">Si prefieres llevarte la última comida en una bolsa para el viaje</span>
                        </label>
                    </div>
                </div>
            </div> -->
        </template>

        <!-- <div class="form-group" v-if="(event.meals.length && meals === true && meals_list.length) || (event.lodgement_type =='FULL' && lodgement_id)" >
            <div class="row">
                <label for="input_comidas_especiales" class="col-sm-12 control-label">Información extra de comida</label>
                <div class="col-sm-12">
                    <label class="checkbox-inline">
                        <input type="checkbox" v-model="meals_specials" id="check_meals_specials" /> Si requiere de dieta especial (alergias, celiacos, etc) o indicar si no va a necesitar alguna comida porque llegue más tarde, se vaya antes o sea un niño pequeño que no necesite desayuno.
                    </label>  
                </div>
                <div class="col-sm-offset-0 col-sm-12" v-if="meals_specials == true">
                    <small class="text-muted">Especifica en el siguiente campo de observaciones (máx. 128 caracteres):</small>
                    <br>
                    <textarea v-model="meals_specials_obs" name="special_meals_obs" cols="50" rows="2" maxlength="128" class="form-control" placeholder="Ej: si es intolerante a la lactosa, si no va a hacer uso de desayunos, etc..."></textarea>
                </div>
            </div>
        </div> -->
    </template>

    <template v-if="event.type == 'CAMPAMENTO' && !lodgement_without_room">
        <div class="form-group">
            <label class="col-sm-12 control-label">Observaciones especiales de entrada, salida o ausencia</label>
            <div class="col-sm-12">
                <label class="checkbox-inline">
                    <input type="checkbox" v-model="arrival_departure"/> Marca esta casilla si esta persona se ausentará algún dia, llegará después o se tendrá que ir antes
                </label>  
            </div>
            <div class="col-sm-12" v-if="arrival_departure == true">
                Por favor, especifica con detalle (máx. 128 caracteres):
                <textarea v-model="arrival_departure_obs" name="arrival_departure_obs" cols="50" rows="3" maxlength="128" class="form-control" placeholder=""></textarea>
            </div>
        </div>
    </template>        

    <template v-if="isChild && event.type == 'CAMPAMENTO' && !lodgement_without_room">
        <div class="form-group">
            <label for="" class="col-sm-12 control-label">Observaciones médicas</label>
            <div class="col-sm-12">
                <label class="checkbox-inline">
                    <input type="checkbox" v-model="specials_details" /> Marca esta casilla si toma medicación, tiene alergia a algún medicamento, si requiere cuidados especiales...
                </label>
            </div>
            <div class="col-sm-12" v-if="specials_details == true">
                <br>
                Por favor, especifica con detalle (máx. 128 caracteres):
                <br>
                <textarea v-model="specials_details_obs" name="special_meals_obs" cols="50" rows="3" maxlength="128" class="form-control" placeholder=""></textarea>
            </div>
        </div>
        <hr/>
    </template>

    <div v-if="lodgement_id" class="form-group">
        <label for="input_comidas_especiales" class="col-sm-12 pr-0 control-label">Dieta especial</label>
        <div class="col-sm-12">
            <label class="checkbox-inline">
                <input type="checkbox" v-model="meals_specials" id="check_meals_specials" /> Marca esta casilla si requiere de una dieta especial (alergias a alimentos, diabetes, celiacos, etc).
            </label>  
        </div>
        <div class="col-sm-offset-0 col-sm-12" v-if="meals_specials == true">
            Por favor, especifica un poco más en el siguiente campo de observaciones (máx. 128 caracteres):
            <br>
            <textarea v-model="meals_specials_obs" name="special_meals_obs" cols="50" rows="2" maxlength="128" class="form-control" placeholder="Ej: si es celiaco, o intolerante a la lactosa, etc..."></textarea>
        </div>
    </div>

    <template v-if="event.meals.length">
        <hr/>
    </template>

    <!-- FIN DE COMIDAS -->
    <template v-if="event.studios && event.studios.length || (event.nursery && isChild) || event.bus_cost != null || event.lodgement_type=='FULL'">
        <h3 id="header_other_services"><i class="fa fa-clipboard-list"></i> Otras opciones</h3>

        <div class="form-group" v-if="event.bus_cost != null">
            <div class="col-sm-10 col-sm-offset-2">
                <label class="checkbox-inline">
                    <input type="checkbox" v-model="bus" /> Si quiere ir en el autob&uacute;s que se fletará
                    <span class="badge bg-secondary internal_lodgement_price" v-if="event.bus_cost">{{ event.bus_cost }}&euro;</span>
                    <small class="text-muted">(precio incluido en el coste de inscripción, aquellos que vayan con vehículo propio, se les abonará el kilometraje).</small>
                </label>
            </div>
            <div class="col-sm-offset-3" v-if="bus == true && event.bus_info">
                <div class="pull-left" style="padding:7px; background-color:#ffff9f;" v-html="event.bus_info"></div>
            </div>
        </div>

        <template v-if="event.lodgement_type=='FULL'">
            <div class="form-group">
                <div class="col-sm-12">
                    <label><input type="checkbox" v-model="reduced_mobility"/><span> Marca si tiene movilidad reducida (silla de ruedas, muletas...) o vas a necesitar sitio para silleta o sillas de bebés para las comidas</span></label>
                </div>
            </div>
        </template>

        <div class="form-group" v-if="event.studios && event.studios.length && !isChild">
            <div class="col-12">
                <p>Elige un taller 
                    <template v-if="event.studios[0].date">
                        para cada día</template>
                :</p>
            </div>

            <!-- TALLERES -->
            <div class="form-group form-inline">
                <div class="col-sm-5 align-self-start px-0">
                    <template v-for="(studio, index) in _getStudiosByDay(1)">
                        <!-- <label v-if="index==0" class="text-center control-label">{{ Utils.getDateSimple(studio.date) }}</label> -->
                        <div class="form-inline">
                            <label class="radio-inline">
                                <input type="radio" v-model="studio1" name="studio1" :value="studio.id"> 
                                &nbsp; {{ studio.name }}
                                <!-- <a v-if="studio.info" href="#" data-toggle="popover" :data-content="studio.info" data-trigger="hover" data-placement="top">+ info</a> -->
                            </label>
                        </div>
                    </template>
                </div>
                <!--<div class="col-sm-7 align-self-start px-0">
                    <template v-for="(studio, index) in _getStudiosByDay(2)">
                        <label v-if="index==0" class="text-center control-label">{{ Utils.getDateSimple(studio.date) }}</label>
                        <div class="form-inline">
                            <label class="radio-inline">
                                <input type="radio" v-model="studio2" name="studio2" :value="studio.id" > 
                                &nbsp; {{ studio.name }}
                                <!-- <a v-if="studio.info" href="#" data-toggle="popover" :data-content="studio.info" data-trigger="hover" data-placement="top">+ info</a> -->
                            <!--</label>
                        </div>
                    </template>
                </div>-->
            </div>
        </div>

        <div class="form-group" id="row_sports" v-if="event.sports && event.sports.length">

            <label for="" class="col-sm-2 control-label">Deportes</label>
            <div class="col-sm-10" id="sports_list" v-if="age >=16">
                    <label class="radio-inline">
                        <input type="radio" v-model="sports" name="event_sport" value=""> 
                        Ninguno                    
                    </label>
                    <label v-for="spot in event.sports" class="radio-inline">
                        <input type="radio" v-model="sports" name="event_sport" :value="sport.sport_id"> 
                        {{ sport.name }}
                    </label>
            </div>
            <div class="col-sm-10" id="sports_list_advice" v-else>
                <div class="form-inline">
                    <span class="text-muted">Opción no disponible para este usuario (edad mínima 16)</span>
                </div>
            </div>
        </div>

        <!-- Guardería -->
        <div v-if="event.nursery && isChild">
            <h4>Guardería</h4>
            <p>¿Quieres que este niño vaya a guardería?</p>
            <div class="form-group" id="row_guarderia">
               
                <div class="col-sm-11 col-sm-offset-1">
                    <label class="radio-inline">
                        <input type="radio" v-model="nursery" name="nursery" :value="true"/> 
                    &nbsp;Si
                        <span class="badge bg-secondary" v-if="event.nursery_cost">{{ event.nursery_cost }}&euro;</span>
                        <small v-if="event.nursery_obs" class="text-muted">({{ event.nursery_obs }})</small>
                    </label>&nbsp;&nbsp;&nbsp;
                    <label class="radio-inline">
                        <input type="radio" v-model="nursery" name="nursery" :value="false"/> 
                    &nbsp;No
                    </label>
                </div>
            </div>

            <!-- <div v-if="nursery == true">
                <p>Es obligatorio que los niños lleven peto. ¿Necesitas uno?</p>
                <div class="col-sm-11 col-sm-offset-1">
                    <label class="radio-inline">
                        <input type="radio" v-model="nursery_peto" name="peto" :value="true"/> 
                    &nbsp;Si <span class="badge bg-secondary">1,5&euro;</span>
                    </label>&nbsp;&nbsp;&nbsp;
                    <label class="radio-inline">
                        <input type="radio" v-model="nursery_peto" name="peto" :value="false"/> 
                    &nbsp;No, me lo traeré yo 
                    </label>
                </div>

                <div v-if="!nursery_peto" class="col-sm-12 alert alert-danger" id="external_lodgement_info" role="alert">
                    <span class="fa fa-warning" aria-hidden="true"></span>
                    Si te vas a traer tú mismo el peto, por favor asegúrate que tenga las siguientes características, de lo contrario, elige la otra opción:
                    <br/>
                    <img src="/img/petos.png" width="100%"/> -->
                    <!-- <div style="font-weight: bold;">
                        <template v-if="birthday_year >= 2007 && birthday_year <= 2010">
                            De 9 a 12 años talla grande: rojo.
                        </template>
                        <template v-else-if="birthday_year >= 2011 && birthday_year <= 2012">
                            De 7 y 8 años talla grande: azul brillante.
                        </template>
                        <template v-else-if="birthday_year >= 2013 && birthday_year <= 2014">
                            De 5 y 6 años talla grande: naranja. 
                        </template>
                        <template v-else-if="birthday_year >= 2015 && birthday_year <= 2016">
                           Bebés de 3 y 4 años talla pequeña: amarillo.
                        </template>
                        <template v-else>
                           Bebés de 0 y 2 años talla pequeña: azul oscuro
                        </template>
                    </div> -->
<!--                 </div>
            </div> -->
        </div>
    </template>
</form>
</template>

<script>

import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import {es} from 'vuejs-datepicker/dist/locale';
import Utils from './Utils';
//import VueCroppie from 'vue-croppie';
//import 'croppie/croppie.css' // import the croppie css manually

//Vue.use(VueCroppie);

export default {

    name       : 'inscription-steps',

    components : {
        Datepicker
    },

    props : [
        'event', 'churchs', 'line_id',
        'url_cart_line', 'url_inscription_line', 'logged_user'
    ],

    data () {
        return {
            error               : false,
            loading             : true,
            context             : 'cart',
            datepicker_es       : es,

            relations : ['PADRE/MADRE','HIJO/A','ABUELO/A','TIO/A','SOBRINO/A','PRIMO/A','NIETO/A','ESPOSO/A','FAMILIAR','OTROS'],

            /*****/            
            inscription_id               : null,
            public_id                    : null,
            name                         : null,
            surname                      : null,
            genre                        : null,
            user_photo                   : false,
            birthday                     : null,
            birthday_day                 : null,
            birthday_month               : null,
            birthday_year                : null,
            nif                          : null,
            nif_rep                      : null,
            nif_no                       : null,
            church_id                    : null,
            event_role                   : null,
            is_pastor                    : false,
            lider_relationship_type      : null,
            lodgement_id                 : null,
            lodgement_dates              : [],
            lodgement_without_room       : false,
            reduced_mobility             : false,
            meals                        : true,
            meals_list                   : [],
            meals_specials               : null,
            meals_specials_obs           : null,
            meals_picnic                 : null,
            specials_details             : null,
            specials_details_obs         : null,
            arrival_departure            : null,
            arrival_departure_obs        : null,
            bus                          : null,
            studio1                      : null,
            studio2                      : null,
            sports                       : null,
            nursery                      : null,
            nursery_cost                 : null,
            nursery_obs                 : null,
            nursery_peto                 : true,
        }
    },

    watch : {

        nif_no : function(val)
        {
            if (val == true){
                this.nif     = '';
                this.nif_rep = '';
            }

        },

        birthday : function(newval, oldval)
        {
            var splited = newval.split('-');
            this.birthday_day = splited[2];
            this.birthday_month = splited[1];
            this.birthday_year = splited[0];
        }
    },

    mounted : function()
    {
        console.log('<inscription-steps> mounted');
        this.line_id && this.load();
    },

    created : function()
    {
        // nif, nif_no
        this.storable         = ['nif','nif_no','name','surname','genre','birthday','church_id','event_role','is_pastor','lider_relationship_type','lodgement_id','lodgement_dates','lodgement_without_room','reduced_mobility','meals','meals_list','meals_specials','meals_specials_obs','meals_picnic','bus','specials_details','specials_details_obs','arrival_departure','arrival_departure_obs','studio1','studio2','sports','nursery','nursery_cost','nursery_obs','nursery_peto'];
        this.mandatory_fields = {
            name           : 'Nombre',
            surname        : 'Apellidos',
            genre          : 'Género',
            //birthday       : 'Fecha de nacimiento',
            church_id      : 'Iglesia',
            birthday_day   : 'Día de nacimiento',
            birthday_month : 'Mes de nacimiento',
            birthday_year  : 'Año de nacimiento'
        };

        this.croppieOpts = {
            enableOrientation : true,
            viewport: {
                width: 150,
                height: 166,
            },
            enableExif: true,
            boundary : {
                width : 156,
                height : 172
            }
        };        

        if (this.event.lodgements)
        {
            this.event.lodgement_main = this.event.lodgements.find(function(l){
                return l.external == 0;
            });
        }

        this.churchs = this.churchs.sort((a,b) => (a.city > b.city) ? 1 : ((b.city > a.city) ? -1 : 0));        
    },

    computed : {

        Utils : function(){
            return Utils;
        },

        isAdult : function()
        {
            if (!this.birthday_day || !this.birthday_month || !this.birthday_year)
                return null;
            
            var date = this.birthday_year +'-'+ this.birthday_month +'-'+this.birthday_day;

            return Utils.getAge(date) >= 18 ;
        },

        isChild : function()
        {
            if (!this.birthday_day || !this.birthday_month || !this.birthday_year)
                return null;

            var date = this.birthday_year +'-'+ this.birthday_month +'-'+this.birthday_day;

            return Utils.getAge(date, this.event.date_from) < 13 ;
        },

        isBaby : function()
        {
            if (!this.birthday_day || !this.birthday_month || !this.birthday_year)
                return null;

            var date = this.birthday_year +'-'+ this.birthday_month +'-'+this.birthday_day;

            return Utils.getAge(date,this.event.date_from) < 5 ;
        },

        age : function()
        {
            if (!this.birthday)
                return null;
            
            var date = this.birthday_year +'-'+ this.birthday_month +'-'+this.birthday_day;

            return Utils.getAge(this.birthday,this.event.date_from);
        },

        showPicnic : function()
        {
            if (!this.event.meals.length)
                return false;
            return this.event.meals.some(function(m){
                return m.picnic_opt == 1;
            });

            // meals = String(meals[0].id);
            // return this.meals_list.length && (this.meals_list.indexOf(meals) >= 0 || this.meals_list.indexOf(parseInt(meals)) >= 0);
        },

        lodgement_main : function(){
            const l = this.event.lodgements.find(function(l){
                return l.external == 0;
            });            
            return l;
        }
    },

    methods : {

        completeEvent : function()
        {
            if (this.event.lodgement_main.id)
                this.lodgement_id    = this.event.lodgement_main.id;
            
            this.meals           = true;
            this.lodgement_dates = [];
            this.meals_list      = [];

            setTimeout(function(){

                $('#div_lodgement_dates input').each(function(index,val){
                    this.lodgement_dates.push(val.value);
                }.bind(this));

                $('#div_meals_dates input').each(function(index,val){
                    this.meals_list.push(val.value);
                }.bind(this));

            }.bind(this),100);

            $('#msg_event_complete').show();

            setTimeout(function(){
                $('#msg_event_complete').hide();
            },3000);
        },

        load(line_id = null)
        {            
            this.error = false;
            this.loading = true;

            if (line_id)
                this.line_id = line_id;
            
            var url;

            if (this.context == 'cart')
                url = this.url_cart_line;
            else
                url = this.url_inscription_line;

            if (this.line_id)
                url += '/'+this.line_id;

            axios.get(url)
                .then(function(result)
                {
                    result = result.data;

                    for (var key in result)
                    {
                        if (this.hasOwnProperty(key))
                        {
                            if (typeof result[key] == 'boolean')
                                this[key] = result[key] ? true : false;
                            else if (result[key] == null)
                            {
                                if (Object.prototype.toString.call( this[key] ) === '[object Array]')
                                    this[key] = [];
                                else
                                    this[key] = '';
                            }
                            else
                                this[key] = result[key];
                        }
                    }

                    this.nif_rep = this.nif;
                    //this.birthday = new Date(result.birthday);
                    this.lodgements = true;//result.lodgement_id == this.event.lodgement_main.id;

                    if (this.event.require_photo)
                    {
                        setTimeout(function(){
                            //this.loadCropImgFromUrl(window.location.protocol+'//'+window.location.hostname+(location.port ? ':'+location.port: '')+'/uploads/users_photos/'+this.public_id+'.jpeg?r='+Math.random());
                        }.bind(this),1000);
                    }
                }.bind(this))
                .catch(function(error){
                    this.error = true;
                    alert('error al cargar');
                }.bind(this))
                .then(function(){
                    this.loading = false;
                }.bind(this));
        },

        _validate : function()
        {
            var errors = [];

            for (var key in this.mandatory_fields)
            {
                if (Utils.isEmpty(this[key]))
                    errors.push(this.mandatory_fields[key]);
            }            
            // if (this.event.require_photo && (Utils.isEmpty(this.user_photo) || this.user_photo == false))
            //    errors.push('Fotografía');            

            if (Utils.isEmpty(this.nif_no) || this.nif_no == false)
            {
                if (Utils.isEmpty(this.nif) || Utils.isEmpty(this.nif_rep))
                {
                    if (Utils.isEmpty(this.nif))
                        errors.push('NIF/NIE ');

                    if (Utils.isEmpty(this.nif_rep))
                        errors.push('NIF/NIE repetido');
                }
                else if (this.nif.toUpperCase() != this.nif_rep.toUpperCase())
                    errors.push('No coincide el NIF/NIE con el repetido')
                else if (Utils.validateDNI(this.nif) === false)
                    errors.push('NIF/NIE (formato inválido)');
            }
                        

            if (!this.lodgement_id)
            {                           
                if (this.event.lodgement_type != 'FULL')
                {
                    // comentado para el congreso 23 
                    //errors.push('No has especificado el alojamiento');
                }
                else
                {                                        
                    this.lodgement_id = '';//this.event.lodgement_main.id;
                    this.meals_specials = null;
                    this.meals_specials_obs = null;
                }
            }
            else if (this.event.lodgement_main && this.lodgement_id == this.event.lodgement_main.id && !this.lodgement_dates.length && (this.event.type != 'CAMPAMENTO' && this.event.type != 'PRECAMPAMENTO'))
            {
                //errors.push('No has especificado las noches que dormirás');
            }

            if (this.event.meals.length)
            {
                if (Utils.isEmpty(this.meals))
                    errors.push('No has especificado si comes o no');
                /* else if (this.meals == true && !this.meals_list.length)
                    errors.push('No has seleccionado ninguna comida'); */
            }

            if (Utils.isEmpty(this.meals_specials_obs) && this.meals_specials == true && (this.meals == true
                || (this.event.lodgement_type == 'FULL' && !Utils.isEmpty(this.lodgement_id))))
                errors.push('Falta indicar las observaciones de comidas especiales');

            if (this.specials_details == true && Utils.isEmpty(this.specials_details_obs))
                errors.push('Falta indicar las observaciones especiales');

            if (this.arrival_departure == true && Utils.isEmpty(this.arrival_departure_obs))
                errors.push('Falta indicar las observaciones de salida, llegada o ausencia');

            if (this.isAdult && this.event.studios.length)
            {
                if (Utils.isEmpty(this.studio1))
                    errors.push('No has elegido un taller' + (this.event.studios[0].date ? ' para el dia 1' : ''));

                if (this.event.studios[0].date && Utils.isEmpty(this.studio2))
                    errors.push('No has elegido un taller para el dia 2');
            }

            if (this.isChild && this.event.nursery)
            {
                if (Utils.isEmpty(this.nursery))
                    errors.push('No has especificado si guardería o no');

                if (this.nursery == true && Utils.isEmpty(this.nursery_peto))
                    errors.push('No has elegido ninguna opción del peto');
            }

            return errors;
        },

        saveInscription(callback)
        {
            var invalids = this._validate();

            if (invalids.length > 0)
            {
                alert('Los siguientes datos no son válidos o están incompletos: \n\n -' + invalids.join('\n- '))
                return;
            }

            var params = {
                event_id : this.event.id
            };

            console.log('logmentid: ' + this.lodgement_id)

            $.each(this.storable, function(index,prop)
            {
                if (this.$data[prop] != null)
                {
                    params[prop] = this.$data[prop];

                    if (params[prop] === '')
                        params[prop] = null;
                    else if (typeof params[prop] == 'boolean')
                        params[prop] = params[prop] ? '1' : '0';

                    if (params[prop] == null && prop != 'lodgement_id')
                        delete params[prop];
                    //else if (params[prop] == true || params[prop] == 'false')
                    //    params[prop] = params[prop] == true ? '1':'0';
                }
            }.bind(this));     
                    

            //params.birthday = //params.birthday.toISOString().substring(0, 10);

            var url;

            if (this.context !== 'cart')
                params.inscription_id = this.inscription_id;

            params.birthday = this.birthday_year+'-'+this.birthday_month+'-'+this.birthday_day;

            if (this.event.require_photo && this.user_photo && (!this.line_id || (this.line_id  == true && $('#user_photo').val() !== '')))
            {
                this.$refs.croppieRef.result({
                    type : 'base64', 
                    size : 'viewport', 
                    format : 'jpeg'
                }).then(image=>{
                    params.photo = image;
                    this._ajaxInscription(callback, params);
                });
            }
            else
                this._ajaxInscription(callback, params);
        },

        _ajaxInscription : function(callback, params)
        {
            if (this.context == 'cart')
                var url = this.url_cart_line;
            else
                var url = this.url_inscription_line;

            if (this.line_id)
                url += '/'+this.line_id;

            axios.post(url, params)
                .then(function(result){
                    this.line_id = result.data.line_id;
                    callback(null, result);
                }.bind(this))
                .catch(function(error){
                    callback(error.response.data.error);
                });
        },

        _reset : function()
        {
            if (this.event.require_photo)
                this._quitPhoto();

            $.each(this.storable, function(index,key)
            {
                if (Object.prototype.toString.call( this[key] ) === '[object Array]')
                    this[key] = [];
                else if (typeof this[key] == 'boolean')
                    this[key] = false;
                else
                    this[key] = null;
            }.bind(this));

            this.user_photo = false;

            this.birthday_day = null;
            this.birthday_month = null;
            this.birthday_year = null;

            this.nif_rep = null;
            //setTimeout(this.testFillChild.bind(this), 1000);

        },

        _preventNonAlphaNumeric : function(e)
        {
            var regex = new RegExp("^[a-zA-Z0-9]+$");
            var code = !e.charCode ? e.which : e.charCode;
            var str = String.fromCharCode(code);
            // permitidos: tab, shift, delete, supr, izq, dcha, inicio, fin
            var keys_valid = [16,9,8 ,46, 37, 39, 48, 96, 35, 36]; // los ceros tb pasa
            if (regex.test(str) || keys_valid.indexOf(code) >= 0 )
                return true;

            e.preventDefault();
            return false;
        },

        _removeNonAlphaNumeric : function(e)
        {
            if (this.nif)
                this.nif = this.nif.replace(/[^0-9a-z]/gi, '');

            if (this.nif_rep)
                this.nif_rep = this.nif_rep.replace(/[^0-9a-z]/gi, '');
        },

        _quitPhoto : function()
        {
            $('#user_photo').val('');

            this.user_photo = false;

            // $uploadCrop.croppie('bind', {
            //     url : ''
            // });

            //$('#user_photo').click();
        },

        _changePhoto : function()
        {
            $('#user_photo').trigger('click');
        },

        _rotatePhotoLeft : function(){
            this.$refs.croppieRef.rotate(90);
        },

        _rotatePhotoRight : function(){
            this.$refs.croppieRef.rotate(-90);
        },

        initCrop : function()
        {
            $('#upload-wrapper > div').remove();

            //$uploadCrop = $('#upload-wrapper').croppie(this.croppieOpts);

            $('#drag_photo_area, #upload-wrapper').on('drop', function(e)
            {
                this.readCropFile(e.originalEvent.dataTransfer);
                e.preventDefault();
                e.stopPropagation();
            }.bind(this));

            $('#drag_photo_area, #upload-wrapper').on('dragover', function(e)
            {
                e.preventDefault();
            });
        },

        readCropFile : function(e)
        {
            if (e.target.files && e.target.files[0]) 
            {
                if (!/^image/.test( e.target.files[0].type))
                {
                    alert('Por favor, elige un fichero de tipo imagen');
                    return;
                }

                var reader = new FileReader();
                
                reader.onload = function(e){
                    this.loadCropImgFromUrl(e.target.result);
                }.bind(this);
                
                reader.readAsDataURL(e.target.files[0]);
            }
        },

        loadCropImgFromUrl : function(url)
        {
            this.$refs.croppieRef.bind({
                url : url
            }).then(function(){
                this.user_photo = true;
            }.bind(this))
            .catch(function(){
                this._quitPhoto();
            }.bind(this));
        },

        updateCrop : function()
        {
            $uploadCrop.croppie('bind', { url : ''});
        },

        quitCrop : function()
        {
            $uploadCrop.destroy();
        },

        _getStudiosByDay : function(day){
            var date = day == 1 ? this.event.studios[0].date : this.event.studios[this.event.studios.length -1].date;
            return this.event.studios.filter(s=>{
                return s.date == date;
            })
        },

        _getDayNameByDate : function(date){
            return 'asdf1';
        },

        _getMonthDayFromDate : function(date){
            return 'asdf2';
        },

        testFillChild : function(){
            this.birthday = '2012-01-01';
            this.lider_relationship_type = 'HIJO/A';
            this.nursery = true;
            this.testFillGeneric();
        },

        testFillAdult : function()
        {
            this.birthday = new Date('2012-01-01');;
            this.testFillGeneric();
        },

        testFillGeneric : function(){
            this.name = 'Nombre niño';
            this.surname = 'Apellido niño';
            this.church_id = 1;
            this.genre = 'F';
            this.completeEvent();
        },

        _getRange : function(from,to){
            var result = [];
            for (var a=to; a>=from; a--)
                result.push(a);
            return result;
        },

        _onCroppieResult(data){
            //debugger;
        },

        _onCroppieUpdate(data){
            //debugger;
        }
    }
}

/*$(document).ready(function()
{
    var today = new Date();
    today = today.getDate() +'/'+ (today.getMonth()+1) + '/'+ today.getFullYear();

    $('#date_birthday').datepicker({
        format         : "dd/mm/yyyy",
        //startDate    : "11/11/1910",
        endDate        : today,
        startView      : 'decades',
        maxViewMode    : '3',
        language       : "es-ES",
        todayHighlight : true,
        toggleActive   : true,
        autoclose      : true,
        defaultViewDate: {
            year : 1999
        }
    }).on('changeDate', function(e){
        inscription_form.$data.birthday = this.value;
    });

    $('.selectpicker').selectpicker();

    $('[data-toggle="popover"]').popover(); 
}); */

</script>

<style>
    .page-header{
        margin-top:35px;
    }

    .hr {
        margin-top:3px !important;
    }

    .vdp-datepicker input{
        width: 100%;
        border: none;
    }
    label.control-label{
        color : #3456dcdb;
    }
</style>