<template>
    <div style="padding: 2rem 3rem; text-align: left;">
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input :class="['input']" type="text" placeholder="Text input"
                       v-model="form.username">
            </div>
            <!-- <p v-if="$v.form.username.$error" class="help is-danger">This username is invalid</p> -->
        </div>
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input :class="['input']"  type="text" placeholder="Email input" v-model="form.demoEmail">
            </div>
            <!-- <p v-if="$v.form.demoEmail.$error" class="help is-danger">This email is invalid</p> -->
        </div>
        <div class="field">
            <label class="label">Message</label>
            <div class="control">
                <textarea :class="['textarea']"  placeholder="Textarea" v-model="form.message"></textarea>
            </div>
        </div>
    </div>
</template>

<script>
    // import {validationMixin} from 'vuelidate'
    // import {required, email} from 'vuelidate/lib/validators'

    export default {
        props: ['clickedNext', 'currentStep'],
        //mixins: [validationMixin],
        data() {
            return {
                $v : null,
                form: {
                    username: '',
                    demoEmail: '',
                    message: ''
                }
            }
        },
        validations: {
            // form: {
            //     username: {
            //         required
            //     },
            //     demoEmail: {
            //         required,
            //         email
            //     },
            //     message: {
            //         required
            //     }
            // }
        },
        watch: {

            clickedNext(val) {
                console.log(val);
                if(val === true) {
                    this.$emit('change-next', {nextBtnValue: false});
                }
            }
        },
        mounted() {
            // this.$emit('can-continue', {value: true});
            // this.$emit('can-continue', {value: false});
            // this.$emit('change-next', {nextBtnValue: false});
            // 
        }
    }
</script>